@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #4d96a9;
  --secondary-color: #855fb1;
  --heading-color: #28283d;
  --paragraph-color: #87879d;
  --primary-hover-color: #8fe3f9;
  --secondary-hover-color: #d9b8ff;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
}

main,
footer {
  max-width: 144rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  row-gap: 5rem;
  column-gap: 5rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/*******************/
/*  HERO SECTION */
/******************/

.hero {
  position: relative;
  overflow: hidden;
  padding: 5rem 0;
}

.hero-brand {
  grid-column: 2/ 2;
  text-align: center;
}

.hero-image-left {
  grid-row: 2;
  position: relative;
  left: -2.5rem;
}

.hero-image-right {
  grid-row: 2;
  grid-column: 3;
  position: relative;
  right: -8rem;
}
.hero-text-box {
  grid-row: 2;
  grid-column: 2;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.hero-heading-primary {
  color: var(--heading-color);
  font-size: 6.4rem;
  font-weight: 900;
  font-style: normal;
  line-height: 6.4rem;
  text-align: center;
}

.hero-description {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--paragraph-color);
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step-2 {
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -78%);
}

.step-vertical-line {
  border-left: 1px solid rgba(135, 135, 157, 0.25);
  height: 6rem;
}

.step-number {
  width: 5rem;
  height: 5rem;
  border: 1px solid rgba(135, 135, 157, 0.25);
  font-size: 2rem;
  font-weight: 900;
  color: var(--paragraph-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fafafa;
}

/*******************/
/*  GALLERY SECTION */
/******************/

.section-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 7rem 1rem;
}

.gallery-image {
  max-width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}

/*******************/
/*  FEATURE SECTION */
/******************/

.section-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15rem;
}

.feature-content {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 54rem;
  padding: 0 1rem;
  text-align: center;
}

.feature-primary-header {
  font-size: 4.7rem;
  color: #28283d;
  font-weight: 900;
  line-height: 4.4rem;
}
.feature-second-header {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  line-height: 2.6rem;
  color: #4d96a9;
}

.feature-description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: #87879d;
}

/*******************/
/*  FOOTER SECTION */
/******************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem;
  background: #000 url(../assets/desktop/image-footer.jpg);
  background-size: cover;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.footer-content {
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  z-index: 1;
}

.footer-description {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  flex: 1;
}

.footer-header {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.4rem;
  flex: 1;
}

.footer-content .btn {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 150, 168, 0.9);
}

/*******************/
/*  LINKS SECTION */
/******************/
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 4.4rem;
  border-radius: 3rem;
  text-decoration: none;
  color: var(--background-color);
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 900;
  transition: all 0.3s;
}

.btn--primary:link,
.btn--primary:visited {
  background-color: var(--primary-color);
}
.btn--primary:hover,
.btn--primary:active {
  background-color: var(--primary-hover-color);
}

.btn--secondary:link,
.btn--secondary:visited {
  background-color: var(--secondary-color);
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--secondary-hover-color);
}

.version-color {
  color: var(--primary-hover-color);
}
